/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

nav{
    display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  background-color: #A50044;
  padding: 0 20rem;
    font-size: 1.4rem
}

a {
  color: #004D98;
  text-decoration: none;
  padding-left: 45px;
  font-weight: 700;
  border-radius: 10px;
  transition: all 0.8s ease;
}

a:hover {
  text-decoration: underline;
  color: #EDBC00 ;
}

nav a.active {
  color: #EDBC00 ;
}

footer {
  color: #EDBC00 ;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 5rem;
  height: 10rem;
  background-color: #004D98;
  font-size: 1.4rem;
  align-items: center;
}

footer a {
  color: #A50044;
}

footer a:hover {
  color:#DF0024 ;
}
